<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Registration Failed</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<body>
	
		<span>You're either not an ADULT Or your Not French Or your phone number is not French! </span>
		<span>You must be over 18 to register ! Come back when you're old enough</span>
		<span>You must be FRENCH to register ! Come back when you're FRENCH</span>
		<span>You must have a FRENCH PHONE NUMBER to register ! Come back when you have one</span>
		
		
		
		<h3><a th:href="@{/register}">Was it a Mistake? Try again.</a></h3>
	</body>
	
</body>
</html>